/* beers styles */

.page-beers .bg-stretch{
  background-position: center top;
}

.beers{
  position: relative;
  z-index: 3;
  padding: 77px 0 89px;

  @include media('screen', '<tablet') {
    padding: 40px 0 130px;
  }

  &:after{
    content:"";
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/img-7.png) repeat-x 0 0 / 2500px auto;
    z-index: -1;
    cursor: default;
    pointer-events: none;

    @include media('screen', '<desktop') {
      top: -60px;
    }

    @include media('retina2x') {
      background-image: url(../images/img-7-2x.png);
    }
  }
}

.beers-info{
  @extend %flexbox;
  @include flex-wrap(wrap);
  @include justify-content(flex-start);

  @include media('screen', '<tablet') {
    /*display: block;*/
  }
}

.beer-box{
  @include transition(
    transform .3s cubic-bezier(.5, 0, .5, 1),
    margin .3s cubic-bezier(.5, 0, .5, 1));

  @include transform-origin(center center);
  width: 160px;
  @include flex-shrink(0);
  position: relative;
  z-index: 1;
  margin: 0 8px 122px;

  @include media('screen', '<widescreen') {
    width: 200px;
  }

  @include media('screen', '<desktop') {
    width: 160px;
  }

  @include media('screen', '>phone', '<=tablet') {
    width: 25%;
    margin: 0 0 80px;
  }

  @include media('screen', '<=phone') {
    width: 50%;
    margin: 0 0 80px;
  }

  @include media('screen','landscape','<=phone'){

  }

  @include media('screen','portrait','<=phone'){

  }

  &.active{
    z-index: 2;

    @include media('screen', '<tablet') {
      margin: 0 0 140px;
    }

    &.js-right-state{
      .open-link{

      }
    }

    .open-link{
      @include media('screen', '>=tablet') {
        @include transform(scale(1.2) rotate(-2deg));
      }

      @include media('screen', '>=widescreen') {
        @include transform(scale(1.35) rotate(-2deg));
      }

      @include media('screen', '<tablet') {
        @include transform(translateX(0%));
        left: 0%;
        width: 50px;
      }

      @include media('screen','portrait','<=phone'){
        width: 80px;
      }

      @include media('screen','landscape','<tablet'){
        left: 0px;
        @include transform( translateX(100%));
      }

      canvas{
        opacity: 0;
        visibility: hidden;
      }
    }

    .slide{
      top: 91px;
      opacity: 1;
      visibility: visible;

      @include media('screen', '<tablet') {
        top: 0;
      }
    }
  }

  &.js-right-state{
    .slide{
      left: auto;
      right: 0;
      @include media('screen', '>=tablet') {
        padding: 0 200px 0 0;
      }

      @include media('screen','portrait','<=phone'){
        padding: 0 100px 0 0;
      }

      @include media('screen','landscape','<tablet'){
        width: 400px !important;
        padding: 0 150px 0 0px;
      }
    }

    .text-holder{
      @include media('screen', '>=desktop') {
        padding: 0 88px 0 0;
      }
    }

    .close-link{
      @include media('screen', '>=tablet') {
        right: 170px;
        top: 0;
      }
    }

    &.active {

      .open-link {
        @include media('screen', 'portrait', '<=phone') {
          left: 0px;
          @include transform(translateX(100%));
        }
      }
    }
  }

  .open-link{
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    @include transition(
      transform .3s cubic-bezier(.5, 0, .5, 1),
      left .3s cubic-bezier(.5, 0, .5, 1),
      width .3s cubic-bezier(.5, 0, .5, 1));

    @include media('screen', '<tablet') {
      width: 80px;
      left: 50%;
      @include transform( translateX(-50%) );
    }

    img{
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }

    canvas{
      position: absolute;
      top: 100%;
      left: 50%;
      @include transform( translateX(-50%) );
      opacity: 1;
      visibility: visible;
      width: 116px !important;
      @include transition(
        opacity .3s linear,
        visibility .3s linear);

      @include media('screen', '<tablet') {
        width: 100% !important;
      }
    }
  }

  .slide{
    display: block !important;
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: 0;
    width: 728px;
    padding: 0 0 0 178px;
    color: $white;
    font: 12px/1.2 'IntroCondLightAlt', Arial, Helvetica, sans-serif;
    opacity: 0;
    visibility: hidden;
    @include transition(
      visibility .5s linear,
      opacity .5s linear);

    @include media('screen', '<tablet') {
      width: auto !important;
      padding: 0 0 0 75px;
    }

    @include media('screen','portrait','<=phone'){
      width: 330px !important;
      padding: 0 0 0 100px;
    }

    &:after{
      z-index: -1;
      content:"";
      position: absolute;
      top: -94px;
      left: -99px;
      bottom: -90px;
      right: -124px;
      background: url(../images/img-31.png) no-repeat 0 0 / 100% 100%;
      pointer-events: none;

      @include media('retina2x') {
        background-image: url(../images/img-31-2x.png);
      }

      @include media('screen', '<widescreen') {
        top: -160px;
        bottom: -170px;
      }
    }
  }

  .text-holder{
    @include media('screen', '>=desktop') {
      padding: 0 0 0 88px;
    }
  }

  h2{
    font:34px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $white;
    margin: 0;
    @include transform-origin(0 top);
    @include transform(rotate(-3.5deg));
    letter-spacing: 4px;

    @include media('screen', '<desktop') {
      font-size: 23px;
      letter-spacing: 0;
    }
    text-transform: uppercase;
  }

  h3{
    font:12px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    margin: 0 0 13px;
  }

  p{
    margin: 0 0 11px;
  }

  .close-link{
    @include size(24px);
    color: #d5f8fb;
    border: 1px solid currentColor;
    border-radius: 50%;
    position: absolute;

    @include media('screen', '>=tablet') {
      top: 0;
      right: -32px;
    }

    @include media('screen', '>=widescreen') {
      top: -22px;
      right: -42px;
    }

    @include media('screen', '<tablet') {
      top: 0;
      right: 50px;
    }

    @include media('screen', '<=320px') {
      right: 0px;
    }

    @include media('screen','portrait','<=phone'){
      top: -30px;
      right: 0px;
    }


    &:hover{
      color: $white;
    }

    &:after,
    &:before{
      @include size(1px, 12px);
      content:"";
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(rotate(45deg));
      background: currentColor;
      margin: -6px 0 0;
    }

    &:before{
      @include transform(rotate(-45deg));
    }
  }
}

.awards-list{
  margin: 0;
  padding: 14px 0 0;
  font:12px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  li{
    @include inline-block(top);
    position: relative;

    &:not(:last-child){
      margin: 0 16px 0 0;

      &:after{
        content:"|";
        position: absolute;
        top: 1px;
        right: -10px;
        font-size: 11px;
      }
    }
  }

  a{
    color: currentColor;

    &:hover{
      text-decoration: none;
      opacity: .8;
    }
  }
}