/* carousel styles */

.intro-carousel{
  position: relative;
  z-index: 1;

  h1{
    font-size: 162px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: -5px;
    opacity: .85;

    @include media('screen', '<widescreen') {
      font-size: 100px;
    }

    @include media('screen', '<desktop') {
      font-size: 70px;
    }

    @include media('screen', '<tablet') {
      font-size: 50px;
      letter-spacing: -1px;
    }

    small{
      font-size: 107px;
      line-height: 1;
      display: block;
      color: currentColor;
      margin: 0 0 -33px;
      letter-spacing: -3px;

      @include media('screen', '<widescreen') {
        font-size: 70px;
        margin: 0 0 -10px;
      }

      @include media('screen', '<desktop') {
        font-size: 50px;
      }

      @include media('screen', '<tablet') {
        font-size: 30px;
        margin: 0 0 -5px;
        letter-spacing: -1px;
      }
    }
  }

  /*
  .item{
    padding: 107px 0 95px;

    @include media('screen', '<tablet') {
      padding: 40px 0 50px;
    }
  }
  */

  .bg-stretch{
    background-position:center 100%;
  }

  .carousel-caption{
    position: relative;
    top: 0;
    left: 0;
    text-shadow: none;
    float: right;
    margin: 0 -11px 0 0;

    @include media('screen', '<widescreen') {
      margin: 0;
    }

    @include media('screen', '<tablet') {
      width: auto;
      float: none;
      width: 200px;
      margin: 0 auto;
    }
  }

  .visual{
    position: absolute;
    top: -90px;
    left: -42px;

    @include media('screen', '<tablet') {
      width: 150px;
      height: auto;
      top: -40px;
    }
  }

  .carousel-indicators{
    width: 1080px;
    float: right;
    margin: 0;
    margin-left: -563px;
    text-align: left;
    bottom: 55px;

    @include media('screen', '<widescreen') {
      width: 960px;
      margin-left: -480px;
    }

    @include media('screen', '<desktop') {
      width: 720px;
      margin-left: -360px;
    }

    @include media('screen', '<tablet') {
      margin-left: 0;
      width: 100%;
      left: 0;
      bottom: 40px;
      text-align: center;
    }

    li{
      @include size(15px);
      border: 3px solid $white;
      margin: 0;

      &:not(:last-child) {
        margin: 0 16px 0 0;
      }
    }

    .active{
      background: rgba($white, .6);
    }
  }
}