input[type="email"],
input[type="tel"],
input[type="search"],
input[type="text"],
input[type="password"],
input[type="file"],
textarea,
select {
  -webkit-appearance: none;
  border-radius:0;
}

html{
  height:100%;
}

body{
  height: 100%;

  @include media('screen', '<desktop') {
    font-size: 14px;
  }
}

a{
  outline: none !important;
}

/* main container styles */

#wrapper {
  position: relative;
  overflow: hidden;

  @extend %flexbox;
  @include flex-direction(column);
}

.w1 {
  min-height: 100vh;
  @include flex-grow(1);
  @extend %flexbox;
  @include flex-direction(column);
}

#main {
  @include flex-grow(1);
  @include flex-shrink(1);
}

.bg-stretch{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}

.container{
  .navbar-header{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.more{
  z-index: 100;
  position: fixed;
  top: 50%;
  right: 24px;
  width: 458px;
  color: $white;
  font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
  background: url(../images/bg-yellow.png) no-repeat 0 0 / 100% 100%;
  padding: 8px 26px 22px 16px;

  @include transform-origin(100% top);
  @include transform(rotate(90deg) translateX(50%));
  @include backface-visibility(hidden);
  @include transition("opacity .3s linear");

  a{
    color: inherit;
  }

  @include media('screen', '<widescreen') {
    right: 0px;
    opacity: .6;
  }

  @include media('screen', '<desktop') {
    width: 250px;
    right: -8px;
    padding: 8px 26px 14px 16px;
    background: url(../images/bg-yellow-no-bottle.png) no-repeat 0 0 / 100% 100%;
  }

  &:hover,
  &:focus{
    text-decoration: none;
    opacity:.9;
    color: $white;
  }

  h2{
    font-size: 29px;
    line-height: 1.2;
    margin: 0;
    float: left;
    @include backface-visibility(hidden);
    @include media('screen', '<desktop') {
      font-size: 16px;
    }
  }

  small{
    float: right;
    font-size: 16px;
    line-height: 1.2;
    margin: 8px 0 0;
    @include backface-visibility(hidden);
    @include media('screen', '<desktop') {
      font-size: 14px;
      margin: 2px 0 0;
    }
  }

  .visual{
    position: absolute;
    bottom: 12px;
    left: 51%;
    @include media('screen', '<desktop') {
      display: none;
    }
  }
}

/* banner styles */

.banner{
  position: relative;
  padding: 65px 0;
  min-height: 480px;

  @include media('screen', '<desktop') {
    min-height: 0;
  }

  @include media('screen', '<tablet') {
    padding: 40px 0;
  }

  .bg-stretch{
    background-position:center 100%;
  }

  &.empty{
    @include media('screen', '<desktop') {
      min-height: 250px;
    }

    @include media('screen', '<tablet') {
      min-height: 150px;
    }
  }

  &.brewed{
    h1{
      text-align: right;
      font: 81px/.8 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
      margin: 0 65px 0 0;
      text-transform: uppercase;
      color: $white;
      letter-spacing: -3px;
      opacity: .85;

      @include media('screen', '<desktop') {
        font-size: 50px;
        margin: 0;
      }

      @include media('screen', '<tablet') {
        text-align: center;
      }

      small{
        display: block;
        font-size: 54px;
        line-height: 1;
        color: currentColor;
        letter-spacing: -2px;
        margin: 0 32px -8px 0;

        @include media('screen', '<desktop') {
          font-size: 30px;
          margin: 0 20px -2px 0;
        }
      }
    }

    .line{
      display: block;
      margin-bottom: -2px;

      @include media('screen', '<desktop') {
        margin-bottom: 0;
      }
    }

    .indent{
      margin-right: 57px;

      @include media('screen', '<desktop') {
        margin-right: 30px;
      }
    }
  }

  &.craft{
    h1{
      text-align: right;
      font: 87px/.8 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
      margin: 46px 62px 0 0;
      text-transform: uppercase;
      color: $white;
      letter-spacing: -3px;
      opacity: .85;

      @include media('screen', '<desktop') {
        font-size: 50px;
        margin: 0;
      }

      @include media('screen', '<tablet') {
        text-align: center;
      }

      small{
        display: block;
        font-size: 68px;
        line-height: 1;
        color: currentColor;
        letter-spacing: -2px;
        margin: 0 145px -1px 0;

        @include media('screen', '<desktop') {
          font-size: 30px;
          margin: 0 20px 0 0;
        }

        @include media('screen', '<=phone') {
          font-size: 36px;
          margin: 0px 0px 10px;
        }
      }
    }

    .line{
      display: block;

      @include media('screen', '<=phone') {
        font-size: 65px;
        margin-top: 5px;
      }
    }
  }

  &.contact{
    h1{
      font: 96px/.8 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
      margin: 71px 62px 0 0;
      text-transform: uppercase;
      color: $white;
      letter-spacing: -3px;
      opacity: .85;
      text-shadow:3px 6px 0 rgba($black, .3);

      @include media('screen', '<desktop') {
        font-size: 50px;
        margin: 0;
      }

      @include media('screen', '<tablet') {
        text-align: center;
        margin:25px 0 0;
      }

      small{
        display: block;
        font-size: 46px;
        line-height: 1;
        color: currentColor;
        letter-spacing: -2px;

        @include media('screen', '<desktop') {
          font-size: 30px;
          margin: 0 20px 0 0;
        }
      }
    }

    .line{
      display: block;
      @include transform-origin(0 top);

      &:first-child{
        @include transform(rotate(-3.5deg));
        margin:0 0 -8px -31px;

        @include media('screen', '<widescreen') {
          margin: 0 0 -8px;
        }

        @include media('screen', '<desktop') {
          margin:0;
        }
      }

      &:nth-child(2){
        @include transform(rotate(-2deg));
        margin:0 0 -7px 221px;

        @include media('screen', '<desktop') {
          margin:0;
        }
      }

      &:nth-child(3){
        @include transform(rotate(-1deg));
        margin:0 0 -3px 299px;
        letter-spacing:-1.5px;

        @include media('screen', '<desktop') {
          margin:0;
        }
      }
      &:nth-child(4){
        @include transform(rotate(0deg));
        margin:0 0 0 663px;

        @include media('screen', '<desktop') {
          margin:0;
        }
      }
    }
  }

  &.enough{
    .bg-stretch{
      background-position: center;

      @include media('screen', '<tablet'){
        background-position-x: -350px;
        transform: scale(1.5);

        &:after{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(58,61,65,0.8);
        }
      }
    }

    h1{
      font: 102px/.8 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
      margin: 17px 0 20px -84px;
      text-transform: uppercase;
      color: $white;
      letter-spacing: -3px;
      opacity: .85;

      @include media('screen', '<widescreen') {
        font-size: 70px;
        margin: 0 0 20px 0;
      }

      @include media('screen', '<desktop') {
        font-size: 50px;
      }

      @include media('screen', '<tablet') {
        text-align: center;
        margin:25px 0 15px;
      }

      small{
        display: block;
        font-size: 68px;
        line-height: 1;
        color: currentColor;
        letter-spacing: -2px;

        @include media('screen', '<widescreen') {
          font-size: 50px;
        }

        @include media('screen', '<desktop') {
          font-size: 30px;
        }
      }
    }

    .text-holder{
      max-width: 460px;
      padding: 0 0 0 61px;
      color: $white;

      @include media('screen', '<desktop') {
        max-width: 360px;
      }

      @include media('screen', '<tablet') {
        text-align: center;
        margin: 0 auto;
        padding: 0;
      }
    }

    .line{
      display: block;
      @include transform-origin(0 top);
      @include transform(rotate(-2deg));

      &:first-child{
        margin: 0 0 -10px;

        @include media('screen', '<desktop') {
          margin: 0;
        }
      }

      &:nth-child(2){
        margin: 0 0 0 88px;

        @include media('screen', '<desktop') {
          margin: 0 0 0 20px;
        }
      }
    }

    p{
      margin: 0 0 15px;
    }

    .read-more{
      @include inline-block(top);
      color: currentColor;
      text-transform: uppercase;
      font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;

      &:hover{
        text-decoration: none;
        opacity: .9;
      }
    }
  }

  &.beer{
    h1{
      font: 83px/.8 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
      margin: 54px 0 -3px 0;
      text-transform: uppercase;
      color: $white;
      letter-spacing: -1px;
      text-shadow:3px 6px 0 rgba($black, .3);
      text-align: right;

      @include media('screen', '<desktop') {
        font-size: 48px;
        margin: 20px 0 0;
      }

      @include media('screen', '<tablet') {
        text-align: center;
        margin:25px 0 15px;
      }

      @include media('screen', '<=phone'){
        @include transform(translateX(45px));
      }

      @include media('screen', '<=320px'){
        font-size: 40px;
        @include transform(translateX(40px));
      }


      small{
        font-size: 63px;
        line-height: 1;
        color: currentColor;
        letter-spacing: -2px;

        @include media('screen', '<desktop') {
          font-size: 28px;
          margin: 0 20px 0 0;
        }
      }
    }

    .text-holder{
      color: $white;
      float: right;
      width: 100%;
      max-width: 370px;
      line-height: 1.2;
      padding: 0 120px 0 0;

      @include media('screen', '<desktop') {
        padding: 0;
        max-width: 250px;
      }

      @include media('screen', '<tablet') {
        margin: 0 auto;
        float: none;
      }

      @include media('screen', '<=phone') {
        @include transform(translateX(50px));
      }

      @include media('screen', '<=320px') {
        @include transform(translateX(40px));
        max-width: 200px;
      }
    }

    .line{
      display: block;
      @include transform-origin(0 top);

      &:first-child{
        @include transform(rotate(-3.5deg));
        margin:0 167px -14px 0;

        @include media('screen', '<desktop') {
          margin:0;
        }
      }

      &:nth-child(2){
        @include transform(rotate(-2deg));
        letter-spacing: -1px;

        @include media('screen', '<desktop') {
          margin:0;
        }
      }
    }
  }
}

.square-banner{
  .bg-stretch{
    background-position:center 0;
  }

  h1{
    font: 87px/1 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $white;
    text-transform: uppercase;
    text-shadow: 4px 6px 0 rgba(#771e15, .8);
    margin: 88px 0;
    letter-spacing: -3px;
    opacity: .85;
    float: right;

    @include media('screen', '<widescreen') {
      margin: 100px 0 0;
    }

    @include media('screen', '<desktop') {
      position: static;
      font-size: 70px;
      margin: 20px 0 0;
    }

    @include media('screen', '<tablet') {
      font-size: 45px;
      float: none;
      text-align: center;
      letter-spacing: -1px;
    }
  }

  .line{
    display: block;
    transform-origin: 0 0;

    &:first-child{
      @include transform(rotate(-3deg));
      font-size: 68px;
      margin: 0 0 -26px -101px;

      @include media('screen', '<widescreen') {
        margin: 0 0 -15px -101px;
      }

      @include media('screen', '<tablet') {
        font-size: 35px;
        margin: 0 0 -10px;
      }
    }

    &:nth-child(2){
      @include transform(rotate(-1deg));
    }
  }
}

/* simple-text styles */

.simple-text{
  position:relative;
  padding: 33px 0 62px;
  color:$boulder;

  &:after{
    content:"";
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-white-3.png) repeat-x 0 0 / 2500px auto;
    z-index: -1;
    pointer-events: none;

    @include media('retina2x') {
      background-image: url(../images/bg-white-3-2x.png);
    }
  }

  .inner-area{
    max-width:460px;
    margin:0 auto;
  }

  p{
    margin:0;

    &+p{
      margin:20px 0 0;
    }
  }

  .read-more{
    @include inline-block(top);
    color: $boulder;
    text-transform: uppercase;
    font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    margin:23px 0 0;

    &.last{
      margin: 0px 0 45px;

    }

    &:hover{
      text-decoration: none;
      opacity: .9;
    }
  }

  .visual{
    position: absolute;
    bottom: 63px;
    left: -85px;

    @include media('screen', '<widescreen') {
      width: 340px;
      height: auto;
    }

    @include media('screen', '<desktop') {
      width: 230px;
      bottom:54px;
    }

    @include media('screen', '<tablet') {
      display: none;
    }
  }
}

/* appreciate styles */

.appreciate{
  position:relative;
  padding:0 0 33px;

  &:after{
    content:"";
    position: absolute;
    top: -78px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-waves-5.png) repeat-x 0 0 / 2500px auto;
    z-index: -1;
    pointer-events: none;

    @include media('retina2x') {
      background-image: url(../images/bg-waves-5-2x.png);
    }
  }

  h2{
    font:32px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color:$white;
    text-transform:uppercase;
    text-align:center;
    letter-spacing:.5px;
    margin:0;

    @include media('screen', '<=phone') {
      font:23px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    }

    sup{
      @include inline-block(top);
      font-size:44px;
      top:19px;
      margin:0 5px 0 0;

      @include media('screen', '<=phone') {
        margin: 0px;
        top: 12px;
        font-size: 32px;
      }
    }
  }

  .line{
    display:block;
    @include transform-origin(center);

    &:first-child{
      @include transform(rotate(-3deg));
      margin: 0 224px 2px 0;
      font-size: 33px;
      letter-spacing:0;

      @include media('screen', '<desktop') {
        margin: 0 220px 2px 0;
      }

      @include media('screen', '<=phone') {
        font-size: 24px;
        margin: 0 auto;
        text-align: center;
      }
    }

    &:nth-child(2){
      margin:0 0 2px 11px;

      @include media('screen', '<desktop') {
        margin:0 0 2px;
      }

      @include media('screen', '<=phone') {
        margin: 5px 0px;
      }
    }

    &:nth-child(3){
      @include transform(rotate(-2deg));
      margin:0 0 0 135px;

      @include media('screen', '<desktop') {
        margin:0;
      }
    }
  }
}

/* modal styles */

.modal {
  height: 100%;

  &.fade{
    &.in{
      .modal-dialog{
        @include media('screen', '>=tablet') {
          @include transform(translate(0, -50%));
        }
      }
    }

    .modal-dialog {
      @include media('screen', '>=tablet') {
        top: 50%;
        @include transform(translate(0, -75%));
        margin: 0 auto;
      }

      @include media('screen', '<tablet') {
        margin: 60px auto 0;
        width: 300px !important;
      }
    }
  }
}

.modal-content {
  border: none;
  box-shadow: none;
  background: url(../images/img-27.png) no-repeat 0 0 / 100% 100%;
  padding: 43px 88px 4px 86px;

  @include media('screen', '<desktop') {
    padding: 15px 88px 4px 86px;
  }

  @include media('screen', '<tablet') {
    padding: 0 35px 4px;
  }

  @include media('retina2x') {
    background-image: url(../images/img-27-2x.png);
  }

  &:before{
    content:"";
    position: absolute;
    top: -57px;
    left: 0;
    right: 0;
    height: 58px;
    z-index: -1;
    background: url(../images/img-26.png) no-repeat 0 0 / 100% 100%;

    @include media('retina2x') {
      background-image: url(../images/img-26-2x.png);
    }
  }

  &:after{
    content:"";
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    height: 37px;
    background: url(../images/img-28.png) no-repeat 0 0 / 100% 100%;
    z-index: -1;

    @include media('retina2x') {
      background-image: url(../images/img-28-2x.png);
    }
  }

  .close{
    @include size(19px);
    color: $keppel;
    position: absolute;
    top: -32px;
    right: 36px;
    border: 2px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    font: 18px/1.2 Arial, Helvetica, sans-serif;
    @include transform(rotate(45deg));
    text-align: center;
    outline: none !important;
    z-index: 2;

    @include media('screen', '<tablet') {
      @include size(24px);
      top: -22px;
      right: 25px;
    }

    &:hover{
      opacity: .8;
    }

    .inner-text{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%,-50%));
      line-height: 0;
    }
  }

  h2{
    font:75px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    margin: 0;
    color: $keppel;
    text-shadow: 
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white,
      0 0 5px $white;
    text-transform: uppercase;
    position: absolute;
    top: -140px;
    left: -58px;
    width: 100%;
    text-align: center;

    @include media('screen', '<desktop') {
      position: relative;
      top: 0;
      left: -40px;
      font-size: 40px;
    }

    @include media('screen', '<tablet') {
      left: 0;
    }

    small{
      font-size: 50px;
      color: currentColor;

      @include media('screen', '<desktop') {
        font-size: 30px;
      }
    }

    sup{
      font-size: 51px;
      position: relative;
      top: -17px;
      margin: 0 -14px 0 0;

      @include media('screen', '<desktop') {
        font-size: 30px;
        top: -5px;
        margin: 0 -5px 0 0;
      }
    }

    .line{
      display: block;
      @include transform-origin(center);

      &:first-child{
        @include transform(rotate(-6deg));
        letter-spacing: -2px;
        margin: 0 0 -23px;

        @include media('screen', '<desktop') {
          margin: 0 0 -15px;
        }

        @include media('screen', '<tablet') {
          margin: 0 0 -5px;
        }
      }

      &:nth-child(2){
        @include transform(rotate(-5deg));
        margin: 0 0 0 155px;
        letter-spacing: -1px;

        @include media('screen', '<tablet') {
          margin: 0;
        }
      }
    }
  }
}

.register-form{
  color: $dove-gray;
  position: relative;

  [type="text"],
  [type="email"]{
    @include placeholder {
      color: $dove-gray;
    }
    font:16px/28px 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid $blue-chill;
    background: $white;
    color: $dove-gray;
    height: 28px;
    padding: 3px 10px;
    outline: none;
  }

  label{
    font-size: 16px;
    color: $keppel;
    display: block;
    margin: 0 0 2px;
  }

  .form-row{
    @extend %flexbox;
    @include justify-content(space-between);

    @include media('screen', '<tablet') {
      @include flex-wrap(wrap);
    }

    &+.form-row {
      margin: 20px 0 0;

      @include media('screen', '<tablet') {
        margin: 10px 0 0;
      }
    }
  }

  .box{
    @include flex-shrink(0);

    &:not(:last-child){
      @include media('screen', '<tablet') {
        margin: 0 0 5px;
      }
    }

    &.date{
      width: 62%;

      @include media('screen', '<tablet') {
        width: 100%;
      }
    }

    &.time{
      width: 16%;

      @include media('screen', '<tablet') {
        width: 100%;
      }
    }

    &.guests{
      width: 16%;

      @include media('screen', '<tablet') {
        width: 100%;
      }
    }
  }

  .text-holder{
    padding: 17px 50px 4px 0;

    @include media('screen', '<tablet') {
      padding: 17px 0 4px;
    }
  }

  .submit-holder{
    text-align: center;
  }

  [type="submit"]{
    background: none;
    border: none;
    color: #329ea5;
    font:28px/28px 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    &:hover{
      opacity: .8;
    }
  }
}