ul.inline li {
  display: block;
  list-style-type: none;
  padding: 0;
}

.register-form{
  .form-item, .form-actions{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-required{
    display: none;
  }
}

#user-login{
  margin-top: 100px;
}