.scream{
  .bg-stretch{
    background-position:100% 0;
  }

  .text-holder{
    float: right;
    text-align: right;
    margin: 62px 0 30px;

    @include media('screen', '<tablet') {
      margin: 20px auto 0;
      float: none;
    }
  }

  h1{
    text-transform: uppercase;
    font: 84px/1 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    margin: 0 0 16px;
    color: #5c5857;

    @include media('screen', '<widescreen') {
      font-size: 60px;
    }

    @include media('screen', '<desktop') {
      font-size: 50px;
    }

    @include media('screen', '<tablet') {
      font-size: 30px;
      margin: 0 0 10px;
    }
  }

  small{
    color: currentColor;
    font-size: 56px;

    @include media('screen', '<widescreen') {
      font-size: 40px;
    }

    @include media('screen', '<desktop') {
      font-size: 30px;
    }

    @include media('screen', '<tablet') {
      font-size: 20px;
    }
  }

  .line{
    display: block;

    &:first-child{
      margin: 0 0 -6px;

      @include media('screen', '<tablet') {
        margin: 0;
      }
    }

    &:nth-child(2){
      margin: 0 -24px 0 0;

      @include media('screen', '<widescreen') {
        margin: 0;
      }
    }
  }

  .get-link{
    font: 22px/1 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #5b5756;

    @include media('screen', '<tablet') {
      font-size: 15px;
    }

    &:hover{
      text-decoration: none;
    }
  }
}

/* events-boxes styles */

.events-boxes{
  padding: 52px 0 170px;
  z-index: 1;
  position: relative;

  &:after{
    content:"";
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/img-7.png) repeat-x 0 0 / 2500px auto;
    z-index: -1;
    cursor: default;
    pointer-events: none;

    @include media('screen', '<desktop') {
      top: -60px;
    }

    @include media('retina2x') {
      background-image: url(../images/img-7-2x.png);
    }
  }

  @include media('screen', '<tablet') {
    padding: 40px 0 100px;
  }

  .container{
    position: relative;
    @extend %flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);

    &:after,
    &:before{
      display: none;
    }
  }

  .box{
    width: 31.5%;
    line-height: 1.3;
    position: relative;
    background: url(../images/bg-box.png) no-repeat 0 0 / 100% 100%;
    padding: 0 0 26px;
    color: $scorpion;
    font-size: 14px;
    margin-bottom: 1em;

    @include media('screen', '<tablet') {
      max-width: 280px;
      margin: 0 auto;
      width: auto;
    }

    @include media('retina2x') {
      background-image: url(../images/bg-box-2x.png);
    }

    &:not(:last-child){
      @include media('screen', '<tablet') {
        margin-bottom: 20px;
      }
    }
  }

  img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 29px;

    @include media('screen', '<widescreen') {
      margin: 0 0 20px;
    }
  }

  .text-holder{
    padding: 0 35px;

    @include media('screen', '<widescreen') {
      padding: 0 20px;
    }
  }

  h2{
    font: 16px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $blue-chill;
    margin: 0 0 13px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: relative;

    &:after{
      content:"";
      position: absolute;
      bottom: -10px;
      left: -5px;
      right: 0;
      height: 5px;
      background: url(../images/img-44.png) no-repeat 0 0 / 288px auto;
    }
  }

  .date{
    font: 14px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 0 0 24px;
    color: #7d7d7d;
  }

  p{
    margin: 0 0 20px;
  }

  .read-more{
    @include inline-block(top);
    color: $scorpion;
    text-transform: uppercase;
    font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;

    &:hover{
      text-decoration: none;
      opacity: .9;
    }
  }
}