.media{
  .bg-stretch{
    background-position:100% 0;
  }

  h1{
    font: 118px/1 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $blue-chill;
    text-transform: uppercase;
    text-shadow: -4px 6px 0 $white;
    margin: 156px 0 120px;
    float: left;
    text-align: center;
    letter-spacing: -4px;

    @include media('screen', '<widescreen') {
      margin: 100px 0 0;
    }

    @include media('screen', '<desktop') {
      position: static;
      font-size: 70px;
      margin: 0;
    }

    @include media('screen', '<tablet') {
      font-size: 35px;
      text-shadow: 3px 3px 0 $white;
      float: none;
      letter-spacing: -1px;
    }
  }

  .line{
    @include inline-block(top);
    @include transform-origin(0 0);

    &:first-child{
      @include transform(rotate(-6deg));
    }

    &:nth-child(2){
      @include transform(rotate(-1deg));
    }
  }
}


/* find-out styles */

.media-kit{
  padding: 40px 0 125px;
  font:16px/1.2 $font-family-base;
  color: $boulder;
  position: relative;

  &:after{
    content:"";
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/img-7.png) repeat-x 0 0 / 2500px auto;
    z-index: -1;
    cursor: default;
    pointer-events: none;

    @include media('screen', '<desktop') {
      top: -60px;
    }

    @include media('retina2x') {
      background-image: url(../images/img-7-2x.png);
    }
  }

  p,
  em {
    margin-bottom: 37px;
    line-height: 1.4;
    &:first-of-type {
      margin-bottom: 63px;
      @include media('screen', '<tablet') {
        margin-bottom: 40px;
      }
    }
  }
  em {
    font-size: 15px;
  }
  .protect-text {
    display: block;
  }
  a {
    @include animate(color, $animation-speed);
    font: 16px/1.2 'IntroCondBoldAlt', Arial, Helvetica, sans-serif;
    color: $boulder;
    text-decoration: underline;
    &:hover {
      color: $black;
    }
  }
  .column {
    width: 40.7%;
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
    margin-right: -4px;
    margin-bottom: 33px;
    @include media('screen', '<tablet') {
      width: 100%;
      padding-right: 0;
    }
    a{
      @include animate(color, $animation-speed);
      display: table;
      font:16px/1.2 $font-family-base;
      color: #787878;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  h2{
    position: relative;
    font:23px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color:$blue-chill;
    text-transform:uppercase;
    margin:0 0 17px;
    &:after {
      position: absolute;
      content: '';
      display: block;
      height: 3px;
      min-width: 258px;
      background: $blue-chill;
      @include media('screen', '<desktop') {
        min-width: 80%;
      }
      @include media('screen', '<tablet') {
        width: 100%;
      }
    }
  }
  .column-list {
    @extend %listreset;
    padding-right: 19%;
    @include media('screen', '<tablet') {
      padding-right: 0;
    }
    li {
      @extend %listreset;
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
      margin-bottom: 3px;
      @include media('screen', '<tablet') {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .item-heading {
      display: block;
      font: 16px/1 'IntroCondBoldAlt', Arial, Helvetica, sans-serif;
      color:$blue-chill;
    }
    a {
      @include animate(color, $animation-speed);
      position: relative;
      font:14px/1 $font-family-base;
      display: inline-block;
      vertical-align: middle;
      text-decoration: underline;
      margin: 0 4px;
      &:after {
        position: absolute;
        content: '|';
        right: -7px;
        color: $boulder;
      }
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
        &:after {
          content: '';
        }
      }
      &:hover {
        color: $black;
      }
    }
  }
}