/* party styles */

.party{
  position: relative;
  margin: -80px 0 0;
  padding: 18px 0 170px;
  z-index: 2;
  color: #525252;

  @include media('screen', '<desktop') {
    padding: 18px 0 142px;
  }

  @include media('screen', '<tablet') {
    padding: 47px 0 122px;
    margin: -40px 0 0;
  }

  &:after{
    content:"";
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-white-2.png) no-repeat center 0 / 2666px 764px;
    z-index: -1;
    cursor: default;
    pointer-events: none;

    @include media('retina2x') {
      background-image: url(../images/bg-white-2-2x.png);
    }
  }

  .text-holder{
    float: right;
    width: 500px;
    margin: 0 110px 0 0;

    @include media('screen', '<desktop') {
      margin: 0;
    }

    @include media('screen', '<tablet') {
      width: auto;
      float: none;
    }
  }

  h1{
    font: 90px/1.2 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: #329ea5;
    margin: 0 0 -9px;
    text-shadow: 4px 4px 0 #ffd200;
    text-transform: uppercase;
    letter-spacing: -2px;

    @include media('screen', '<desktop') {
      font-size: 60px;
    }

    @include media('screen', '<tablet') {
      font-size: 40px;
      margin: 0;
    }

    .line{
      @include inline-block(top);

      &:first-child{
        @include transform(rotate(-11deg));
      }

      &:nth-child(2) {
        @include transform(rotate(-3deg));
        margin: -16px 0 0 -7px;

        @include media('screen', '<tablet') {
          margin: -5px 0 0;
        }
      }

      &:nth-child(3) {
        @include transform(rotate(2deg));
        font-size: 136px;
        margin: -41px 0 0 -17px;

        @include media('screen', '<desktop') {
          font-size: 80px;
          margin: -31px 0 0 -6px;
        }
      }
    }
  }

  h2{
    font: 26px/1 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $blue-chill;
    margin: 0 0 13px 56px;
    text-transform: uppercase;

    @include media('screen', '<tablet') {
      font-size: 20px;
      margin: 0 0 15px;
    }

    .line{
      display: block;
      @include transform-origin(0 top);

      &:first-child{
        @include transform(rotate(-3deg));
      }

      &:nth-child(2){
        @include transform(rotate(-2deg));
        margin: -7px 0 0 100px;

        @include media('screen', '<tablet') {
          margin: 0;
        }
      }
    }
  }

  .call{
    text-transform: uppercase;
    font-family: 'Interstate-BlackCondensed', Arial, Helvetica, sans-serif;
    color: $blue-chill;

    span{
      color: currentColor;

      &:hover{
        text-decoration: none;
        opacity:.8;
      }
    }
  }

  .inner-area{
    padding: 0 0 0 161px;

    @include media('screen', '<tablet') {
      padding: 0;
    }
  }

  p{
    margin: 0 0 20px;
  }

  .visual{
    position: absolute;
    bottom: -27px;
    left: -34px;

    @include media('screen', '<widescreen') {
      width: 400px;
      height: auto;
    }

    @include media('screen', '<desktop') {
      width: 300px;
    }

    @include media('screen', '<tablet') {
      display: none;
    }
  }
}